:root { 
  --cor-body-background: #faf6e3 /* cor de fundo da página */
  --cor-tipografia-geral: #222; /* cor para letras - tipografia */
  --cor-menu-background: #fa9a0a; /* cor de fundo para o menu */
  --cor-titulo-animais: #c13829; /* cor dos nomes dos animais */
}

body, h1, h2, ul, li, p, dd, dt, dl {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%; /* evita que as imagens ocupem mais de 100% do container*/
  
}

ul {
  list-style: none; /* zera o estilo da lista */
}

.menu {
  display: flex;
  margin: 10px;
}