:root { 
  --cor-body-background: #faf6e3 /* cor de fundo da página */
  --cor-tipografia-geral: #222; /* cor para letras - tipografia */
  --cor-menu-background: #fa9a0a; /* cor de fundo para o menu */
  --cor-titulo-animais: #c13829; /* cor dos nomes dos animais */
}

body, h1, h2, ul, li, p, dd, dt, dl {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%; /* evita que as imagens ocupem mais de 100% do container*/
  
}

ul {
  list-style: none; /* zera o estilo da lista */
}

body {
  background: var(--cor-body-background);
  color: var(--cor-tipografia-geral);
  -webkit-font-smoothing: antialiasing;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr; 
}

.menu {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: var(--cor-menu-background);
}

.menu ul {
  display: flex; /*colocar um item do lado do outro automaticamente */
  flex-wrap: wrap; /* se a quantidade de itens for maior que o container, quebra a linha */
  padding: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: var(--cor-tipografia-geral);
}

